<div class="well well-large">
     Thank you for completing the survey. For more information, please contact Mohamed Mahmoud at <a href="mailto:mohamed.mahmoud@utoronto.ca">mohamed.mahmoud@utoronto.ca</a>
</div>